.nav{
    display: none;
}

.nav-show{
    display:  block;
    background: #fff;
    display: block;
    width: 300px;
    border-radius: 2px 2px 2px 2px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}